* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #222222;
}


header {
  background-image: url("../src/images/bg-marvel.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1000px;

  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 250px;
}

header > img {
  height: 290px;
}

.container {
  margin: 30px 350px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 105px 64px;
}

.cards a{
  text-decoration: none;
}
.cards a:hover{
  box-shadow: -1px 4px 18px -5px #FFFFFF;
}

.card {
  width: 250px;
  height: 369px;
  border: 1px solid #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffff;
}

.card > div {
  position: relative;
  top: -52px;
  border-top: 1px solid #f2f2f2;
  padding-top: 10px;
}
.card > div > img{
  width: 216px;
  height: 324px;
}
.card > p {
  position: relative;

  bottom: 35px;

  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.pagination {
  color: #7e7e7e;
  margin-top: 50px;
  margin-bottom: 300px;
  display: flex;
  justify-content: end;
}

.pagination-container {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.pagination-container > button {
  border: none;
  color: #7e7e7e;
  background-color: transparent;
  font-size: 1.5rem;
}

.paginationButton{
  cursor: pointer;
}

.paginationButton:hover{
  text-decoration: underline;
}

.currentPage {
  background-color: #7e7e7e;
  color: black;
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
}
.hidden{
    visibility: hidden;
}

.loading{
  display: flex;
  justify-content: center;
}

.searchAndLanguageDiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  align-items: center;
}

.languages button{
  margin-right: 1rem;
  padding: 22px;
  background-color: #7E7E7E;
  border: none;
  cursor: pointer;
}
.languages button:hover{
  color: white;
}

.active{
  background-color: #EDEDED !important;
}

.searchbar{
  display: flex;
  flex-direction: column;
}

.searchbar label{
  font-size: 18px;
  color: #f2f2f2;
  margin-bottom: 1.4rem;
}

.searchbar input{
  width: 609px ;
  height: 63px;
  padding: 1rem;
  background-color: transparent;
  border:1px solid #F4F4F4;
  border-radius: 1px;
  color: #f2f2f2;

  outline: none;
}

.suggestions{
  width: 609px;
  position: absolute;
  background-color: #434343  ;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #f2f2f2;
  z-index: 1;
}
.suggestionItem{
  font-size: 18px;
  margin-bottom: 23px;
}
.suggestionItem a {
  color: #f2f2f2;
  text-decoration: none;
}

.suggestionItem a:hover{
  text-decoration: underline;
}

.character{
  display: flex;
  margin: 0 10rem;
  color: #f2f2f2;
  justify-content: center;
  margin-bottom: 2rem;
}
.character img{
  width: 500px;
  border-radius: 9px;
}
.characterBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
.characterDetail{
  margin-bottom: 10rem;
}
.emptyDescription{
  color: #7e7e7e;
}
.detailTitle{
  margin-bottom: 1rem;
 }

.comics div{
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.comics ul{
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
}

.comics ul li {
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #434343;
  margin-bottom: 1rem;
}
.emptyComics{
  background-color: transparent !important;
  color: #7e7e7e !important;
}

.backHomePage{
  margin: 0 10rem;
  margin-bottom: 2rem;
}

.backHomePage button{
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem;
  border:none;
  background-color: #7e7e7e;
  border-radius: 8px;
  cursor: pointer;
}

.backHomePage button span{
  transition: 0.5s;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.backHomePage button span:before{
  content: '«';
  position: absolute;
  opacity: 0;
  top:0;
  left: 0;
  transition: 0.5s;

}

.backHomePage button:hover span{
  padding-left: 1rem;
}
.backHomePage button:hover span::before {
  opacity: 1;
  top: 0;
  
}
/* media queries start */

/*does not support above 1920px */

/* leptop 1440px */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    height: 800px;
  }

  .container {
    margin: 30px 50px;
  }

  .cards {
    gap: 105px 85px;
  }

  .pagination-container {
    margin-right: 50px;
  }
  .backHomePage{
    margin: 0 10rem;
    margin-bottom: 2rem;
  }
  
}

/* laptop 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 550px;
  }
  header > img {
    height: 180px;
  }
  .container {
    margin: 30px 50px;
  }

  .cards {
    gap: 105px 85px;
  }
  .pagination-container {
    margin-right: 0px;
  }
  .character{
    margin: 0px 2rem;
    flex-direction: column;
  }
  .character img{
    width: 100%;
    height: 700px;
    margin-bottom: 1rem;
  }

  .characterBody{
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  .characterDetail{
    margin-bottom: 3rem;
  }
  .backHomePage{
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
}

/* tablet 768px */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header {
    height: 390px;
    margin-bottom: 150px;
  }
  header > img {
    height: 110px;
    width: 250px;
  }
  .container {
    margin: 30px 0px;
  }
  .cards {
    gap: 120px 8px;
  }
  .pagination-container {
    width: 100%;
    margin: 0px 50px;
  }
  .character{
    margin: 0px 2rem;
    flex-direction: column;
  }
  .character img{
    width: 100%;
    height: 700px;
    margin-bottom: 1rem;
  }

  .characterBody{
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  .characterDetail{
    margin-bottom: 3rem;
  }
  .backHomePage{
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
  .searchAndLanguageDiv{
    margin: 10rem 1rem;
  }
  .suggestions{
    width: 650px;
    padding: 10px 10px
  }
  .suggestionItem{
    font-size: 1rem;
  }
  .searchbar input{
    width:650px;
  }
  .languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .languages button{
    margin-right: 0;
    padding: 10px;
    margin-bottom: 5px;
  }
}

/* mobil l 425px */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  header {
    height: 220px;
    margin-bottom: 100px;
  }
  header > img {
    height: 60px;
    width: 150px;
  }
  .container {
    margin: 30px 25px;
  }
  .pagination-container {
    margin-right: 0px;
  }
  .character{
    margin: 0px 2rem;
    flex-direction: column;
  }
  .character img{
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  }

  .characterBody{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }

  .characterDetail{
    margin-bottom: 3rem;
  }
  .backHomePage{
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
  .suggestions{
    width: 300px;
    padding: 10px 10px
  }
  .suggestionItem{
    font-size: 1rem;
  }
  .searchbar input{
    width:300px;
  }
  .languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .languages button{
    margin-right: 0;
    padding: 10px;
    margin-bottom: 5px;
  }
}

/* mobil m 375px */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  header {
    height: 200px;
    margin-bottom: 100px;
  }
  header > img {
    height: 60px;
    width: 130px;
  }
  .container {
    margin: 30px 25px;
  }
  .pagination-container {
    margin-right: 0px;
  }
  .character{
    margin: 0px 2rem;
    flex-direction: column;
  }
  .character img{
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  }

  .characterBody{
    padding: 0px;
    margin-bottom: 1rem;
  }

  .characterDetail{
    margin-bottom: 3rem;
  }
  .backHomePage{
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
  .suggestions{
    width: 250px;
    padding: 10px 10px
  }
  .suggestionItem{
    font-size: 1rem;
  }
  .searchbar input{
    width: 250px;
  }
  .languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .languages button{
    margin-right: 0;
    padding: 10px;
    margin-bottom: 5px;
  }
}

/* mobil s 320px */
@media only screen and (max-width: 320px) {
  header {
    height: 190px;
    margin-bottom: 90px;
  }
  header > img {
    height: 70px;
    width: 120px;
  }

  .container {
    margin: 30px 25px;
  }
  .pagination-container {
    margin-right: 0px;
  }

  .character{
    margin: 0px 2rem;
    flex-direction: column;
  }
  .character img{
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  }

  .characterBody{
    padding: 0px;
    margin-bottom: 1rem;
  }

  .characterDetail{
    margin-bottom: 3rem;
  }
  .backHomePage{
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
  .suggestions{
    width: 200px;
    padding: 10px 10px
  }
  .suggestionItem{
    font-size: 1rem;
  }
  .searchbar input{
    width: 200px;
  }
  .languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .languages button{
    margin-right: 0;
    padding: 10px;
    margin-bottom: 5px;
  }
}

/* media queries end */
